body{
    margin:0;
}
#header{
    display: flex;
    width: 100%;
    margin-right: 5%;
    justify-content: space-around;

}
    .title{
        font-size: 3em;
    }
    #btn_change_mode{
        margin-left: 82em;
        margin-top: 2em;
        height: 3em;
        width: 10em;
        font-size: 1em;
        transition: transform 0.1s ease;

    }
    
    #btn_change_mode:hover {
        transform: scale(1.1);
    }
      

#content{
    display: flex;

    background: white;
    border-style: ridge;
    border-color: rgb(43, 44, 53);
    width: 75%;
    height: 18em;

    margin-left: 11%;
    margin-top: 2em;
}

    .text_content{
        margin-right: 5em;
        margin-left: 5em;
        align-content: center;
        z-index: 2;

    }
    .img{
        width: 25em;
        height: 15em;
        margin-right: 5em;
        margin-top: 1.5em;
        transition: transform 0.3s ease;
        z-index: 2;
    }
    .img:hover {
        transform: scale(1.2);
    }
    .img-bocadillo{
        z-index: 0;
        width: 15em;
        height: 10em;
        margin-top: 4em;
        display: none;

    }
      



.darkMode{
    background-color: rgb(43, 47, 63);
    color: white;

}