body{
    margin:0;
}
#header{
    display: flex;
    width: 100%;
    margin-right: 5%;
    justify-content: space-around;

}
    .title{
        font-size: 3em;
    }
    #btn_change_mode{
        margin-left: 82em;
        margin-top: 2em;
        height: 3em;
        width: 10em;
        font-size: 1em;
    }

#content{
    display: flex;

    background: white;
    border-style: ridge;
    border-color: rgb(43, 44, 53);
    width: 75%;
    height: 18em;

    margin-left: 11%;
    margin-top: 2em;

}
    .text_content{
        margin-right: 10em;
        margin-left: 5em;
        align-content: center;

    }
    .img{
        width: 25em;
        height: 15em;
        margin-right: 5em;
        margin-top: 1.5em;

    }



.darkMode{
    background-color: rgb(43, 47, 63);
    color: white;

}